<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Van Gogh-ify It!</title>

  <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet"
        type="text/css" />
  <script src="{{ url_for('static', filename='js/camera.js') }}"></script>
</head>

<body>
  <header>
    <h1>Van Gogh-ify It!</h1>
    <h2>Performing Style Transfers with CycleGANs Image-To-Image Translations</h2>
  </header>
  
  <main>
    <section>
      <p>As per <a href='https://en.wikipedia.org/wiki/Vincent_van_Gogh'>
      Wikipedia</a>, Vincent van Gogh was a Dutch post-impressionist painter who
      is among the most famous and influential figures in the history of Western
      art. Van Gogh has created more than 2,000 artworks between his paintings,
      drawings, and sketches.</p>

      <p>Van Gogh had several artistic style periods as well as suffered from
      psychotic episodes. He is infamous for being the post-impressionist
      painter who cut his ear off. However, his influence on the artistic world
      cannot be understated. His works are some of the most recognizable out
      there, such as:</p>
        
      <figure>
        <img src="{{ url_for('static', filename='res/self_portrait.webp')}}" 
          alt="Self Portrait with Bandaged Ear"/>

        <figcaption><span class='artname'>Self-portrait with Bandaged Ear, Easel
        and Japanese Print</span> 
        (1889)</figcaption>
      </figure>

      <figure>
        <img src="{{ url_for('static', filename='res/starry_night.jpg')}}" 
          alt="Starry Night"/>

        <figcaption><span class='artname'>Starry Night</span> 
        (1889)</figcaption>
      </figure>
    </section>

    <section>
      <h1>CycleGANs</h1>

      <p>CycleGANs aims to solve image-to-image translation, a type of computer
      vision problem where the idea is to convert one image to another "style",
      while trying to maintain as much of the image context as possible. An
      example would be converting images of landscapes during summer to look
      like the winter and vice-a-versa:</p>

      <figure>
        <img src="{{ url_for('static', filename='res/season_transfer.png')}}" 
          alt="Season style transfer"/>

        <figcaption>An example of image-to-image translation, where a picture 
          of Yosemite during the summer was automatically converted into one
          during the winter and vice-a-versa.</figcaption>
      </figure>

      <p>The figure above was actually taken from the <a
      href='https://arxiv.org/pdf/1703.10593.pdf'>CycleGAN paper by Zhu et
      al.</a>. Their <a href='https://junyanz.github.io/CycleGAN/'>project
      site</a> offers more details and examples on their work. Definitely check
      it out, CycleGANs are a super cool technique and they've got some
      interesting applications, such as converting Fortnite gameplay to
      PUBG!</p>
    </section>

    <section>
      <h1>Putting it all together (and a demo!)</h1>

      <p>Another area where CycleGANs have shown remarkable results are
      converting real-world photos into different art styles. One of the artists
      that this has worked for is (you guess it!) Vincent van Gogh. This demo
      uses the <a 
      href='https://github.com/junyanz/pytorch-CycleGAN-and-pix2pix'>trained
      model</a> from the original paper.</p>

      <p>You can either use your webcam to take a photo or upload an image to
      the viewfinder below. Then, hit convert and see how the model tries to
      make it look like van Gogh painted your image!</p>

      <div class="input">
        <div class='viewfinder'>
          <canvas id='canvas'></canvas>
          <video id='video'>Video stream not available</video>
        </div>

        <button id='cameraButton'>Use camera</button>
      </div>

      <div class='output'>
        <img id="photo" alt="the screen capture will appear in this box">
      </div>
    </section>
  </main>
</body>
</html>